.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    width: 30%;
    text-align: center;
}

.right {
    vertical-align: center;
    width: 70%;
    padding-right: 25px;
}

.left-icon {
    width: 20%;
    text-align: center;
}

.right-icon {
    width: 80%;
}

.itemPic {
    width: 200px;
    height: 200px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#successMessage {
    display: none;
}

.profilePic {
    width: 250px;
    height: 400px;
    border: 3px solid #0BC4E2;
}

#editProfile, #createListing {
    color: white;
    background-color: #0BC4E2;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 15px;
}

#createListing {
    float: right;
}

.tabs {
    margin-left: 5%;
    padding-top: 1%;
    margin-right: 5%;
    border-bottom-style: solid;
    border-color: #0BC4E2;
    color: #ffff;
}

.tabs button {
    background: #0BC4E2;
    border-bottom: 0px;
    border-style: none;
    font-size: 20px;
    padding: 3px 15px;
    margin: 0px 3px;
}

.tab-content {
    margin: 0 5%;
}

.invalid-feedback {
    display: none;
    color: red;
}


.ulBottomNav {
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
}
.liBottomNav {
    float: left;
}
.liBottomNav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.liBottomNav a:hover {
    background-color: #111;
}